.photo-card-wrap {
  position: relative;
  width: fit-content;
  height: 100%;

  .float-button {
    position: absolute;
    bottom: 10px;
    left: 30%;
    transition: all 300ms ease-in;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color 200ms ease-in;
  padding: 15px;
  color: #fff;

  &.show {
    background-color: rgba(8, 36, 84, 0.7);
  }

  &.hide {
    background-color: transparent;
  }

  h5 {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: type 2s steps(60, end);
    animation-fill-mode: forwards;
  }

  h5:nth-child(2) {
    animation-delay: 2s;
  }

  h5:nth-child(3) {
    animation-delay: 4s;
  }

  h5:nth-child(4) {
    animation-delay: 6s;
  }

  h5:nth-child(5) {
    animation-delay: 8s;
  }
}

.about-col-wrap {
  min-height: 550px;
}

@keyframes type { 
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
