.work-wrap {
  box-sizing: border-box;
  height: 70vh;
  min-height: 600px;
  overflow-y: scroll;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  border: transparent 15px solid;
}

.work-card {
  height: 35vh;
  max-height: 900px;
  padding: 10px 20px;

  .photo-card-wrap {
    height: 70%;
  }
}

.detail-wrap {
  display: flex;
  height: calc(100% - 60px);
  flex-direction: column;
  justify-content: space-between;

  .work-description {
    flex-grow: 1;
  }
}

.btn-url {
  background-color: #689df9;
  padding: 10px 5px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
}

.btn-repository {
  background-color: #5ab664;
  padding: 10px 5px;
  border-radius: 5px;
  position: relative;
}

.tag-wrap {
  width: 100%;
}

.chip {
  width: 90px;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  background-color: #499f53;
  border-radius: 5%;
  font-size: 0.8em;
  color: #fff;
  margin: 5px 10px 0 0;
}

@media only screen and (min-width: 1024px) {
  .work-card {
    min-height: 400px;
  }
}

.spinner-wrap {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}