.app-wrap {
  background: #f3f7fc;
  height: 100vh;
}

div.transition-group {
  position: relative;
}

section.route-seciton {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.about-col-wrap {
  height: 70vh;
  min-height: 550px;
}
.about-col-wrap h3 {
  font-size: 1.8em;
}

.message {
  font-weight: 900;
}

.greeting-message {
  margin: auto;
  z-index: 1000;
  color: #2f73b1;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.greeting-message h1 {
  font-weight: 900;
}

.message.to-community {
  color: #47b554;
}

.message.to-business {
  color: #4156d2;
}

.message.to-us {
  color: #d83a3a;
}

.home-message-wrap {
  width: 100%;
  min-height: 540px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.home-message-wrap h1 {
  font-size: 2em;
}

.home-message-wrap h3 {
  font-size: 1.7em;
}

.message-wrap {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.home-image {
  width: 100%;
  height: 85vh;
  mask-image: linear-gradient(to top, transparent 10%, black 90%);
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 90%);
  position: absolute;
  top: 0;
  left: 0;
}

/* home-image animation*/
.slide-enter {
  transform: translateX(100%);
  opacity: 0.01;
}

.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 1000ms ease-in-out;
}

.slide-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0.01;
  transition: all 1000ms ease-in-out;
}

.link-text {
  color: #000;
  border-color: #fff;
  transition: color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s;
}
.link-text.current-path {
  color: #2f73b1;
  border-color: #2f73b1;
}

.link-text:hover,
.link-text.current-path:hover {
  color: #559ada;
  border-color: #559ada;
}

.conatiner-fit-height {
  height: 85vh;
  min-height: 600px;
}

.photo-card-wrap {
  position: relative;
  width: fit-content;
  height: 100%;
}
.photo-card-wrap .float-button {
  position: absolute;
  bottom: 10px;
  left: 35%;
  transition: all 300ms ease-in;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color 200ms ease-in;
  padding: 15px;
  color: #fff;
}
.overlay.show {
  background-color: rgba(8, 36, 84, 0.7);
}
.overlay.hide {
  background-color: transparent;
}
.overlay h5 {
  font-size: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: type 2s steps(60, end);
  animation-fill-mode: forwards;
}
@media only screen and (max-width: 1024px) {
  .overlay h5 {
    font-size: 1.1em;
  }
}
.overlay h5:nth-child(2) {
  animation-delay: 2s;
}
.overlay h5:nth-child(3) {
  animation-delay: 4s;
}
.overlay h5:nth-child(4) {
  animation-delay: 6s;
}
.overlay h5:nth-child(5) {
  animation-delay: 8s;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
