.app-wrap {
  background: #f3f7fc;
  height: 100vh;
}

div.transition-group {
  position: relative;
}

section.route-seciton {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.page-title {
  height: 5vh;
  min-height: 2em;
}

.about-col-wrap {
  height: 70vh;
  min-height: 550px;
}
.about-col-wrap h3 {
  font-size: 1.8em;
}

.skills-slide {
  animation-fill-mode: forwards;
}

.skills-slide-enter {
  transform: translateX(100%);
  animation-fill-mode: forwards;
}
.skills-slide-enter.skills-slide-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease-in;
}

.skills-slide-exit {
  opacity: 1;
  animation-fill-mode: forwards;
}
.skills-slide-exit.skills-slide-exit-active {
  opacity: 1;
}

.button-sns {
  width: 140px;
  transition: all 100ms ease-in;
}
.button-sns.linkedin {
  background-color: #2868b1;
  box-shadow: #15375e 4px 4px 5px;
}
.button-sns.linkedin:hover {
  background-color: #639cdc;
}
.button-sns.linkedin:active {
  background-color: #15375e;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}
.button-sns.github {
  background-color: #646464;
  box-shadow: #313131 4px 4px 5px;
}
.button-sns.github:hover {
  background-color: #979797;
}
.button-sns.github:active {
  background-color: #313131;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}
.button-sns.twitter {
  background-color: #1ea1f1;
  box-shadow: #0a679f 4px 4px 5px;
}
.button-sns.twitter:hover {
  background-color: #7ec9f7;
}
.button-sns.twitter:active {
  background-color: #0a679f;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}

button.button-contact-form {
  width: 80px;
  transition: all 100ms ease-in;
}
button.button-contact-form.button-submit {
  box-shadow: #1a65a3 4px 4px 5px;
}
button.button-contact-form.button-submit:active {
  background-color: #1a65a3;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}
button.button-contact-form.button-clear {
  box-shadow: #444e5d 4px 4px 5px;
}
button.button-contact-form.button-clear:active {
  background-color: #444e5d;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}

textarea.contact-description {
  resize: none;
  overflow-y: scroll;
}

.work-wrap {
  box-sizing: border-box;
  height: 70vh;
  min-height: 600px;
  overflow-y: scroll;
  background-color: #efefef;
  box-shadow: inset 0 0 10px -5px #ccc;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  border: transparent 15px solid;
}

.work-card {
  height: 35vh;
  max-height: 900px;
  padding: 10px 20px;
}
.work-card .photo-card-wrap {
  height: 70%;
}

.btn-repository {
  background-color: #5ab664;
  padding: 10px 5px;
  border-radius: 5px;
  position: absolute;
  left: 34%;
  bottom: 25%;
}

.tag-wrap {
  width: 100%;
}

.chip {
  width: 90px;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  background-color: #499f53;
  border-radius: 5%;
  font-size: 0.8em;
  color: #fff;
  margin: 5px 10px 0 0;
}

@media only screen and (min-width: 1024px) {
  .work-card {
    min-height: 400px;
  }
}
.spinner-wrap {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  font-weight: 900;
}

.greeting-message {
  margin: auto;
  z-index: 1000;
  color: #2f73b1;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.greeting-message h1 {
  font-weight: 900;
}

.message.to-community {
  color: #47b554;
}

.message.to-business {
  color: #4156d2;
}

.message.to-us {
  color: #d83a3a;
}

.home-message-wrap {
  width: 100%;
  min-height: 540px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.home-message-wrap h1 {
  font-size: 2em;
}

.home-message-wrap h3 {
  font-size: 1.7em;
}

.message-wrap {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.home-image {
  width: 100%;
  height: 85vh;
  mask-image: linear-gradient(to top, transparent 10%, black 90%);
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 90%);
  position: absolute;
  top: 0;
  left: 0;
}

/* home-image animation*/
.slide-enter {
  transform: translateX(100%);
  opacity: 0.01;
}

.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 1000ms ease-in-out;
}

.slide-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0.01;
  transition: all 1000ms ease-in-out;
}

.link-text {
  color: #000;
  border-color: #fff;
  transition: color ease-in-out 0.3s;
  transition: border-color ease-in-out 0.3s;
}
.link-text.current-path {
  color: #2f73b1;
  border-color: #2f73b1;
  pointer-events: none;
}

.link-text:hover,
.link-text.current-path:hover {
  color: #559ada;
  border-color: #559ada;
}

.conatiner-fit-height {
  height: 85vh;
  min-height: 600px;
}

.photo-card-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.photo-card-wrap .float-button {
  position: absolute;
  bottom: 10px;
  left: 35%;
  transition: all 300ms ease-in;
  z-index: 101;
}
.photo-card-wrap .back-img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color 200ms ease-in;
  padding: 15px;
  color: #fff;
  z-index: 100;
}
.overlay.show {
  background-color: rgba(8, 36, 84, 0.7);
}
.overlay.hide {
  background-color: transparent;
}
.overlay h5 {
  font-size: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: type 2s steps(60, end);
  animation-fill-mode: forwards;
}
@media only screen and (max-width: 1024px) {
  .overlay h5 {
    font-size: 1em;
  }
}
.overlay h5:nth-child(2) {
  animation-delay: 2s;
}
.overlay h5:nth-child(3) {
  animation-delay: 4s;
}
.overlay h5:nth-child(4) {
  animation-delay: 6s;
}
.overlay h5:nth-child(5) {
  animation-delay: 8s;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
